.DS_Store
Capfile
build/*
build/**/*
config/database.yml
config/amazon_s3.yml
config/deploy.rb
config/initializers/cookie_verification_secret.rb
config/initializers/oauth_consumers.rb
config/initializers/session_store.rb
coverage/*
coverage.data
db/*.sqlite3
db/development_structure.sql
ignore/*
log/*.log
public/cache/**/*
public/**/all.*
rerun.txt
tmp/*
tmp/**/*
webrat-*.html
(*)/*
*.tmproj
